
*{
    margin: 0;
    padding: 0;
}

body{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("https://plus.unsplash.com/premium_photo-1678375722686-c7ea507c3003?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8a2l0Y2hlbnxlbnwwfHwwfHx8MA%3D%3D");
    
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.healthy{
    font-size: large;
        height: 200px;
        width: 250px;
        background-color: rgb(216, 226, 226);
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 150%;
        padding: 20px;
        border-radius: 30px;
}

.Ecology{
    font-size: large;
        height: 200px;
        width: 250px;
        background-color: rgb(216, 226, 226);
        margin-bottom: 30px;
        padding: 20px;
        margin-left: 150%;
        border-radius: 30px;
    }

.Weight{
    font-size: large;
        height: 200px;
        width: 250px;
        background-color: rgb(216, 226, 226);
        margin-bottom: 30px;
        padding: 20px;
        margin-left: 150%;
        border-radius: 30px;
        }

.Fats{
    font-size: large;
        height: 200px;
        width: 250px;
        background-color: rgb(216, 226, 226);
        margin-bottom: 30px;
        padding: 20px;
        margin-left: 150%;
        border-radius: 30px;
        }

